<section class="testimonial-section">
    <div class="container">
      <h1 class="section-title">Student's Info</h1>
      <div class="testimonial-cards">
        <div class="testimonial-card">
                <div class="testimonial-author">
                  <div class="author-details">
                    <span class="author-name">Personal Info</span>
                  </div>
                </div>    
                <div class="testimonial-content">
                    <div class="student-info-card">
                        <table class="student-info">
                            <tr>
                                <td><strong>Name:</strong></td>
                                <td>{{ studentList[0].name }}</td>
                            </tr>
                            <tr>
                                <td><strong>Roll No:</strong></td>
                                <td>{{ studentList[0].rollNo }}</td>
                            </tr>
                            <tr>
                                <td><strong>Department:</strong></td>
                                <td>{{ studentList[0].department }}</td>
                            </tr>
                            <tr>
                                <td><strong>Year of Study:</strong></td>
                                <td>{{ studentList[0].yearOfStudy }}</td>
                            </tr>
                            <tr>
                                <td><strong>Address:</strong></td>
                                <td>{{ studentList[0].address }}</td>
                            </tr>
                            <tr>
                                <td><strong>Mobile No:</strong></td>
                                <td>{{ studentList[0].mobileNo }}</td>
                            </tr>
                            <tr>
                                <td><strong>FA Percentage:</strong></td>
                                <td>{{ studentList[0].faPercentage }}%</td>
                            </tr>
                            <tr>
                                <td><strong>Skill Percentage:</strong></td>
                                <td>{{ studentList[0].skillPercentage }}%</td>
                            </tr>
                        </table>
                    </div>
                </div>
                </div> 
                                      
        <div class="testimonial-card1">
          <div class="testimonial-content1">
            <div class="day">
                <span class="skill">Previous Year Skill Details</span>
                <p style="font-size: 16px;
                color: #666;font-weight: bold;padding-left: 30px;">DaySkill</p>
                <hr>
                <section class="pricing-section">
                    <div class="container">
                      <div class="pricing-table">
                        <table>
                          <tbody>
                            <tr><td>Skill Name</td>
                            <td>Linux</td></tr>
                            <tr><td>Year</td>
                            <td>1 year</td></tr>
                            <tr><td>Status</td>
                            <td>Completed</td></tr>
                            <tr><td>FA Percentage%</td>
                                <td>80%</td></tr>
                            <tr><td>Attendance%</td>
                                <td>98%</td></tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </section>
                  <div>
                    <p style="font-size: 16px;
                color: #666;font-weight: bold;padding-left: 30px;padding-top: 20px;">NightSkill</p>
                <hr>
                  </div>

                  <section class="pricing-section">
                    <div class="container">
                      <div class="pricing-table">
                        <table>
                          <tbody>
                            <tr><td>Skill Name</td>
                            <td>Linux</td></tr>
                            <tr><td>Year</td>
                            <td>1 year</td></tr>
                            <tr><td>Status</td>
                            <td>Completed</td></tr>
                            <tr><td>FA Percentage%</td>
                                <td>80%</td></tr>
                            <tr><td>Attendance%</td>
                                <td>98%</td></tr>
                          </tbody>
                        </table>
                      </div>
                      
                    </div>
                  </section>
                                        
            </div>            
          </div>
        </div>
      </div>
    </div>
  </section>
  