<section class="course-section">
  <div class="container">
    <div class="course-list">
      <div class="course-item">
        <img src="https://kajabi-storefronts-production.kajabi-cdn.com/kajabi-storefronts-production/themes/2148604585/settings_images/MUVzBhSdTSiJnkS7VTD3_1170746_Website_graphic_01_090121.png" alt="blog" class="course-image">
        <div class="course-details">
            <h1 class="course-title">Skill1</h1>
            <div class="course-info">
              <a href="#" (click)="openDialog($event)" class="course-link">Learn More</a> 
            </div>
        </div>
    </div>
       
    <div class="course-item">
      <img src="https://kajabi-storefronts-production.kajabi-cdn.com/kajabi-storefronts-production/themes/2148604585/settings_images/uCiOHOLGSYCdjYyA5GUV_1170746_Website_graphic_02_090121.png" alt="blog" class="course-image">
      <div class="course-details">
          <h1 class="course-title">Skill1</h1>
          <div class="course-info">
            <a href="#" (click)="openDialog($event)" class="course-link">Learn More</a> 
          </div>
      </div>
  </div>
  <div class="course-item">
    <img src="https://kajabi-storefronts-production.kajabi-cdn.com/kajabi-storefronts-production/themes/2148604585/settings_images/RNdgzfrXTuK0nPcQITQS_1170746_Website_graphic_03_090121.png" alt="blog" class="course-image">
    <div class="course-details">
        <h1 class="course-title">Skill1</h1>
        <div class="course-info">
          <a href="#" (click)="openDialog($event)" class="course-link">Learn More</a> 
        </div>
    </div>
</div>
    </div>
  </div>
</section>
